:root {
  --font-color: #fafafa;
  --background-primary: #ffffff;
  --font-secondary: #1abc9c;
  --background-secondary: rgb(0, 0, 0);
  --font-size: 16px;
}

.filter {
  padding: 10px 20px;
  position: relative;
}

.filter img {
  cursor: pointer;
}
.filtered {
  position: absolute;
  display: flex;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.651);
  color: var(--font-color);
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  padding: 10px 10px;
  top: 30px;
  left: -157px;
  justify-content: center;
  width: 175px;
}

.filtered span:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  color: var(--font-secondary);
}
.hidden {
  display: none;
}
